# test artifacts
.tap
.tap-out
.tap-json
.eslint.json

# IDE files
.idea
*.swp
*.vim

# dev files
*.save
*.tgz
.npm
.eslintcache/
.node_repl_history
node_modules/
npm-debug.log

# Runtime data
*.pid
*.seed
*.pid.lock
